<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <title>Klaida</title>
</head>
<body>
    <header th:replace="~{fragments/header}"></header>
    <section class="turinys">
        <h1>Redaguoti kategoriją</h1>
        <div class="forma">
        <form th:action="@{/kategorijos/redaguoti}" method="post" class="add-kategorija" th:object="${kategorija}">
            <div>
                <input type="number" hidden="hidden" th:field="*{id}">
                <label for="kategorijos-pavadinimas">Kategorijos pavadinimas: </label>
                <input type="text" name="kategorijos-pavadinimas" id="kategorijos-pavadinimas" th:field="*{pavadinimas}" placeholder="Ilgis - 100 simbolių" maxlength="100" required/>
                <input type="submit" value="Atnaujinti"/>
            </div>
            <div th:if="${zinute}" th:text="${zinute}" th:class="${zinutesKlase}"></div>
        </form>
        </div>
    </section>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>